*{
    margin: 0px;
    padding: 0px;
    font-family: Jazz LET, fantasyJazz LET, fantasy;
  
}
body{
    background-image: url("../IMG/fundo3.jpg");
    background-repeat: no-repeat;
    font-family: arial;   
	background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: serif;
}
input{
    /*display: block;
    height: 55px;
    width: 400px;*/
    margin: 7px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    outline: none;
   
}
div#corpo-form-cad{
    width: 420px;
    margin: 100px auto 0px auto;
   
}

div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto;
   
}
div#corpo-form h1, div#corpo-form-cad h1{
    text-align: center;
    padding: 20px;
	color: #E21992;
    /*color: #FF8633;*/
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
	color: red;
}
input[type=submit]{
    background-color: #E21992;
    border: none;
    color:white;
    cursor: pointer;
    width: 230px;
	
   
    
}
#botao:hover{
	background-color:green;
	color: white;
    transition: 600ms;
    
	

}
input:hover:not(#botao){
	
    text-decoration-color:#C64EEF;
    text-decoration-line:underline;
    
	
	

}
::-webkit-input-placeholder {
    color: white;
	
}
fieldset#borda1{
	background-color: rgba(7, 6, 6, 0.6);
	border-width: 20px;
	border-color: #C64EEF;
	border-radius: 60px;
	border-left: 0;
	border-right: 0;
	
}
div#msg-sucesso{
    color: green;
    width: 308px;
    margin: 10px auto;
    padding: 10px;
    font-size:20px;
    font-family:arial;

}
div.mensagem-erro{
    color: red;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size:20px;
    font-family:arial;
    /*background-color:;*/
}
fieldset{
    background-color: rgba(7, 6, 6, 0.6);
	border-width: 10px;
	border-color: red;
	border-radius: 60px;
	border-left: 0;
	border-right: 0;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
}
fieldset#borda2{
    background-color: rgba(7, 6, 6, 0.6);
	border-width: 10px;
	border-color: green;
	border-radius: 60px;
	border-left: 0;
	border-right: 0;
    width: 300px;

	
}
fieldset#borda3{
    background-color: rgba(7, 6, 6, 0.6);
	border-width: 10px;
	border-color: red;
	border-radius: 60px;
	border-left: 0;
	border-right: 0;
    width: 300px;
    
}
fieldset#borda4{
    background-color: rgba(7, 6, 6, 0.6);
	border-width: 10px;
	border-color: red;
	border-radius: 60px;
	border-left: 0;
	border-right: 0;
    width: 385px;
    
}
hr{
    border-color: black;
}
p{
    margin-left: 10px;
}
#p1{
    margin-left: 40px;
}
#p2{
    margin-left: 10px;
}

